form {
	border: 1px solid black;
	background-color: #ECF0F1;
	width: 40%;
	align: center;
	margin-left: 330px;
}

button {
	cursor: pointer;
	border: none;
	color: white;
	font-size: 16px;
	margin: 4px 2px;
	background-color: #008CBA;
	padding: 10px 20px;
}

input{
	margin:10px;
}