@()

@main("Welcome to Play") {
  <h1 align="center">Welcome to Registration Form</h1>
  
  <form>
  <table align="center">
  <tr>
  <td>Employee Name</td>
  <td><input type="text" placeholder="Enter Name" id="name" class="css">
  </tr>
  
  <tr>
  <td>Email Id</td>
  <td><input type="email" placeholder="Enter email" id="emmail" class="css">
  </tr>
  
  <tr>
  <td>Phone Number</td>
  <td><input type="text" placeholder="Enter Phone Number" id="phone" class="css">
  </tr>
  
  <tr>
  <td>Password</td>
  <td><input type="password" placeholder="Enter Password" id="password" class="css">
  </tr>
  
  <tr>
  <td><input type="submit" value="register" id="submit"></td>
  </tr>
  </table>
  </form>
}
